<center>
  <div id='check_group_form'>
  	<% if flash[:notice] %>
    <p><%= flash[:notice] %></p>

    <p class="container alert alert-warning">Не переживайте, если Ваша группа попала в черный список. Это <strong>ВРЕМЕННОЕ</strong> явление. Группы добавляются автоматически, если ВКонтакте банит аккаунты за вступления в них. Это дело не в Вашей группе, а в алгоритмах ВК, разработанных для борьбы с накруткой.</p>
    <% end %>
    <%= render :partial => 'main/check_form' %>
  </div>
</center>